header {
padding: 10px 10px ;
text-align: center;
}
body {
  background-color: salmon;
}

footer {
  margin-top: 19em;
  text-align: right;
}

#pantalla1{
  text-align: center;
}

#pantalla2{
  display: none;
}
